@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@layer base {
  body {
    font-family: "Cabin", "Space Grotesk", sans-serif;
    margin: 0;
  }
}
@layer components {
  button {
    @apply cursor-pointer;
  }
  .nav_item {
    @apply block rounded-full px-4 py-1.5 text-lg font-semibold dark:text-white/70 transition duration-300 hover:bg-[#03a0c5] hover:text-white dark:hover:bg-white/10;
  }
  .btn-ghost {
    @apply flex h-10 flex-shrink-0 items-center justify-center gap-x-2 rounded-lg p-2 text-slate-400 transition-colors hover:bg-blue-50 hover:text-slate-500 dark:hover:bg-blue-950 dark:hover:text-slate-300;
  }
  .dark .mask-gradient {
    mask-image: linear-gradient(
      to bottom,
      transparent,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9),
      transparent
    );
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9),
      transparent
    );
  }
  .mask-gradient-right {
    mask-image: linear-gradient(
      to right,
      transparent,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9),
      transparent
    );
  }
  @keyframes scroll {
    0% {
      transform: translateX(0); /* Bắt đầu từ vị trí gốc theo trục X */
    }
    100% {
      transform: translateX(
        -50%
      ); /* Di chuyển sang trái 50% chiều rộng phần tử */
    }
  }

  .animate-scroll {
    animation: scroll 20s linear infinite; /* Áp dụng animation "scroll" trong 20 giây, tuyến tính, lặp vô hạn */
    display: inline-flex; /* Hiển thị phần tử dưới dạng flex nằm ngang */
    width: max-content; /* Chiều rộng tự động theo nội dung lớn nhất */
  }
}
@layer utilities {
  .container {
    @apply lg:max-w-7xl;
  }
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #20242d;
  }

  ::-webkit-scrollbar-thumb {
    background: #03a0c5;
    border-radius: 6px;
    border: 1px solid #eee;
    transition: background 0.3s ease;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555555;
  }
}
